#searchCustomer {
    border: 1px solid black;
    padding: 20;
    margin-bottom: 50px;
}

#searchTransaction {
    border: 1px solid black;
    padding: 20;
    margin-bottom: 50px;
}

#searchProduct {
    border: 1px solid black;
    padding: 20;
    margin-bottom: 50px;
}

#addCustomer {
    border: 1px solid black;
    padding: 20;
    margin-bottom: 50px;
}

#addCustomer {
    border: 1px solid black;
    padding: 20;
    margin-bottom: 50px;
}

#addCustomer {
    border: 1px solid black;
    padding: 20;
    margin-bottom: 50px;
}